body {
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    
}


.top-bar {
    text-align: center;
}

.logo img{
    width: 320px;
    margin-top: 10px;
}

.logo-link {
    display: inline-block;
}

.logo {
    text-align: center;
}

.title {
    background-color: #839cbe;
    color: white;
    height: 180px;
    text-align: center;
}

.title-text {
    font-size: 48px;
    padding-top: 30px;
    margin-bottom: 0;
}

.home-link {
    text-decoration: none;
    color: white;
}

.subtitle-text {
    opacity: 0.8
}


.arc-svg {
    height: 20px;
    width: 100%;
    transform: rotate(180deg);
    margin-top: 20px;
    fill: #FFF
}

.search-bar-container form {
    display: inline-block;
    height: 100%;
}

.search-bar-container {
    text-align: center;
    height: 35px;
    margin: 30px auto;
}

#search-btn {
    vertical-align: top;
    background-color: #818a91;
    width: 36px;
    cursor: pointer;
    
} 

input {
    border: none;
    border-radius: 100px;
    height: 100%;
    transition: background-color ease 0.2s;
}

#search-bar {
    background-color: #eceeef;
    font-size: 16px;
    font-family: "Varela Round";
    padding: 0 15px 0 15px;
    color: #757575;
}

#search-bar:focus {
    outline: none;
    color: #757575;
    background-color: #dfdfdf;
}

#search-btn:hover {
    background-color: #839cbe;
    content: "yes"
}

#search-bar:hover {
    background-color: #e7e7e7;
}

#search-bar:-webkit-autofill {
    -webkit-text-fill-color: #757575;
}

footer {
    background-color: #839cbe;
    padding: 20px 40px;
    color: white;
    height: 100px;
}
footer p {
    display: inline-block;
}

.footer-links {
    display: inline-block;
}
.footer-links ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px 0 0 ;
    color: white;
}

.footer-donate-btn {
    display: inline-block;
}


.animals-and-filters-container {
    overflow: auto;
    margin-bottom: 20px;
}

.filters-container {
    height: 300px;
    width: 15em;
    background-color: #dfdfdf;
    float: left;
    margin-left: 30px;
    border-radius: 10px;
    color: #757575;
    padding-left: 30px;
    margin-top: 10px;

    
}

.animals-container {
    display: inline-block;
    height: 100%;
    width: 80em;
    margin-left: 50px;
    
}

.filters-title h3 {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    color: black;
    font-size: 20px;
}


.filter-svg {
    background-image: url("filter.svg");
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;

}

.filters-title {
    padding-top: 30px;
}

.filters-list {
    text-align: left;
    padding-top: 10px;
}
.filters-list input {
    height:auto;
}

.filters-list div {
    padding-bottom: 20px;
    font-size: 16px;
}

#submit {
    width: 100px;
    height: 40px;
    border-radius: 10px !important;
    background-color: #839cbe;
    color: white;
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
    float: right;
    margin: 30px 20px 0 0;

}

#submit:hover {
    cursor: pointer;
    background-color: #6e85a7;
}


.animal-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 3px 3px 10px 1px #00000043;
    
    border-radius: 10px;
    cursor: pointer;
    
}

.animal-img {
    display: inline-block;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 100px;
    padding: 10px;
    transition: 0.2s ease;
}

.animal-img:hover {
    transform: scale(1.03);
}