body {
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    
}

html {
    scroll-behavior: smooth;
}


.top-bar {
    text-align: center;
}

.logo img{
    width: 320px;
    margin-top: 10px;
}

.logo-link {
    display: inline-block;
}

.logo {
    text-align: center;
}

.title {
    background-color: #839cbe;
    color: white;
    height: 180px;
    text-align: center;
}

.title-text {
    font-size: 48px;
    padding-top: 30px;
    margin-bottom: 0;
}

.home-link {
    text-decoration: none;
    color: white;
}

.subtitle-text {
    opacity: 0.8
}


.arc-svg {
    height: 23px;
    width: 100%;
    transform: rotate(180deg);
    margin-top: 20px;
    fill: #FFF
}

.search-bar-container form {
    display: inline-block;
    height: 100%;
}

.search-bar-container {
    text-align: center;
    height: 35px;
    margin: 30px auto;
}

#search-btn {
    vertical-align: top;
    background-color: #818a91;
    width: 36px;
    cursor: pointer;
    background-image: url('search.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
} 

input {
    border: none;
    border-radius: 100px;
    height: 100%;
    transition: background-color ease 0.2s;
}

#search-bar {
    background-color: #eceeef;
    font-size: 16px;
    font-family: "Varela Round";
    padding: 0 15px 0 15px;
    color: #757575;
}

#search-bar:focus {
    outline: none;
    color: #757575;
    background-color: #dfdfdf;
}

#search-btn:hover {
    background-color: #839cbe;
    content: "yes"
}

#search-bar:hover {
    background-color: #e7e7e7;
}

#search-bar:-webkit-autofill {
    -webkit-text-fill-color: #757575;
}

footer {
    background-color: #839cbe;
    padding: 20px 40px;
    color: white;
    height: 100px;
}
footer p {
    display: inline-block;
}

.footer-links {
    display: inline-block;
}
.footer-links ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px 0 0 ;
    color: white;
}

.footer-donate-btn {
    float: right;
    background-color: rgb(204, 146, 0);
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin-top: 20px;
}


.animals-and-filters-container {
    overflow: auto;
    margin-bottom: 100px;
}

.filters-container {
    height: 585px;
    width: 15em;
    background-color: #dfdfdf;
    float: left;
    margin-left: 50px;
    border-radius: 10px;
    color: #757575;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    
}

.animals-container {
    display: inline-block;
    height: 100%;
    width: 70em;
    margin-left: 100px;
}

.filters-title h3 {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    color: black;
    font-size: 20px;
}


.filter-svg {
    background-image: url("filter.svg");
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;

}

.filters-title {
    padding-top: 30px;
}

.filters-list {
    text-align: left;
    padding-top: 10px;
}
.filters-list input {
    height:auto;
}

.filters-list div {
    padding-bottom: 10px;
    font-size: 16px;
}

#submit {
    width: 100px;
    height: 40px;
    border-radius: 10px !important;
    background-color: #006aff;
    color: white;
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
    float: right;
    margin: 30px 20px 0 0;

}

#submit:hover {
    cursor: pointer;
    background-color: #0054d3;
}


.animal-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 3px 3px 10px 1px #00000043;
    
    border-radius: 10px;
    cursor: pointer;
    
}

.animal-img {
    display: inline-block;
    margin: 30px;
    margin-bottom: 0;
    margin-top: 0;
    transition: transform 0.2s ease;
    
    
}

.animal-img:hover {
    transform: scale(1.02) rotate(1deg);
}

.whole-animal-container {
    display: inline-block;
    height: 500px;
    vertical-align: top;
    position: relative;
    padding-top: 10px;
}
.animal-name {
    font-size: 22px;
}

.below-img-info {
    color: #136db4;
    cursor: default;
    text-align: center;
    padding-top: 10px;
    
}
.animal-desc {
    color: #00B5B9;
    margin: 5px auto;
}

.animal-memo {
    width: 250px;
    word-wrap: break-word;
    font-size: 14px;
    margin: auto;
}

.reserved-cover {
    position: absolute;
    background-color: rgb(0, 110, 255);
    z-index: 5;
    width: 300px;
    position: absolute;
    border-radius: 10px;
    left: 30px;
    text-align: center;
    padding: 123.5px 0;
    cursor: pointer;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    opacity: 0.6;


}

.images-container {
    position: relative;
    height: 600px;
    width: 600px;
    object-fit: cover;
    margin: 0 0 0 200px;
    display: inline-block;
   
}

.single-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px #00000050;
}

.single-animal-container {
    padding: 50px 0;
}

.animal-information {
    display: inline-block;
    width: 1000px;
    height: 100%;
    vertical-align: top;
    padding-left: 30px;
}

.animal-information h2 {font-size: 32px;}
.animal-information h3 {font-size: 22px;}
.animal-information p {font-size: 18px; white-space: pre-wrap; width: 80%}

.desc {font-size: 16px !important}


.form-btn {
    background-color: #006aff;
    display: inline-block;
    padding: 20px 30px;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color ease 0.2s;
    margin-top: 20px;
}

.form-btn:hover {
    background-color: #005bdb;
}

.search-title {
    text-align: center;
    font-size: 32px;
    padding-bottom: 50px;
}

.animation {
    animation: transitionIn 1.5s ease;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@media screen and (max-width: 1570px) {
    .animals-container {
        width: 46em;
    }
}


@media screen and (max-width: 1880px) {
    .desc {
        font-size: 14px !important; 
        width: 500px;
    }
    .animal-information {
        width: 700px
    }
}

.animal-information h4 {
    color: #006aff;
}

.filter-top-indiv {
    white-space: normal;
}

.filter-top {
    text-align: center;
    font-size: 28px;
    padding-top: 30px;
}